:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
}

/* base */
ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
}

/* buttons */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* links */
.link-main {
  color: var(--color-primary-light);
}

.link-main:hover {
  color: var(--color-brand-light);
}

/* hero section */
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advangate list */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

/* sections */
.section-title .accent {
  color: var(--color-brand-dark);
}
